# Protection du fichier .htaccess
<Files ~ "^.*\.([Hh][Tt][Aa])">
    Order allow,deny
    Deny from all
    Satisfy all
</Files>

# Configuration CORS
Header set Access-Control-Allow-Origin "http://localhost:3000"
Header set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"

# Activation de la réécriture d'URL
RewriteEngine On
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]


# RewriteRule ^products/([0-9]+)$ products.php?IdProduct=$1
# RewriteRule ^products products.php

RewriteRule ^event/list$ event/list.php
RewriteRule ^event/event$ event/event.php
RewriteRule ^event/create$ event/create.php
RewriteRule ^event/update$ event/update.php
RewriteRule ^event/cancel$ event/cancel.php
RewriteRule ^event/createCancel$ event/createCancel.php

RewriteRule ^category/list$ category/list.php
RewriteRule ^category/category$ category/category.php
RewriteRule ^category/create$ category/create.php

RewriteRule ^category/update$ category/update.php

RewriteRule ^user/login$ user/login.php
RewriteRule ^user/signin$ user/signin.php
RewriteRule ^user/logout$ user/logout.php
RewriteRule ^user/user$ user/user.php

RewriteRule ^invoice/create$ invoice/create.php

RewriteRule ^cancel/cancel$ cancel/cancel.php
RewriteRule ^cancel/create$ cancel/create.php

