ul{
    list-style-type: none;
}

.event-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    display: flex;
    gap: 1rem;
}
.event-card{
    background-color: rgb(215, 172, 255);
    padding: 1rem;
    max-width: 25rem;
    border-radius: .5rem;
}

.event-card > button {
    width: 7rem;
    height: 2rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    background-color: rgb(183, 105, 247);
    transition: .5s;
}

.event-card > button:hover{
    background-color: rgb(130, 50, 221);
}